#root {
  margin: 0 auto;
  background-color: white;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

.firstViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25em;
  margin-bottom: 25em;
}

.nameContainer {
  font-size: 3em;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.animationContainer {
  font-size: 2.5em;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
  padding: 0.6em;
}

.animation {
  font-size: 1em;
  color: #219EBC;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.animation:after {
  content:"";
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {content:"|";}
  2% {content:"s|";}
  4% {content: "st|";}
  6% {content: "stu|";}
  8% {content: "stud|";}
  10% {content: "stude|";}
  12% {content: "studen|";}
  14% {content: "student|";}
  16% {content: "student.|";}
  18% {content: "student|";}
  20% {content: "studen|";}
  22% {content: "stude|";}
  24% {content: "stud|";}
  26% {content: "stu|";}
  28% {content: "st|";}
  30% {content: "s|";}
  32% {content: "|";}
  34% {content: "|";}
  36% {content: "c|";}
  38% {content: "co|";}
  40% {content: "cod|";}
  42% {content: "code|";}
  44% {content: "coder|";}
  46% {content: "coder.|";}
  48% {content: "coder|";}
  50% {content: "code|";}
  52% {content: "cod|";}
  54% {content: "co|";}
  56% {content: "c|";}
  58% {content: "|";}
  60% {content: "|";}
  62% {content: "d|";}
  64% {content: "de|";}
  66% {content: "des|";}
  68% {content: "desi|";}
  70% {content: "desig|";}
  72% {content: "design|";}
  74% {content: "designe|";}
  76% {content: "designer|";}
  78% {content: "designer.|";}
  80% {content: "designer|";}
  82% {content: "designe|";}
  84% {content: "design|";}
  86% {content: "desig|";}
  88% {content: "desi|";}
  90% {content: "des|";}
  92% {content: "de|";}
  94% {content: "d|";}
  96% {content: "|";}
  98% {content: "|";}
  100% {content: "|";}
}

/*about*/

.aboutContainer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
}

.aboutTitleContainer {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  width: 100%;
}

.underneathContainer {
  display: flex;
  justify-content: space-evenly;
}

.image1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  max-width: 19em;
  margin-top: 4em;
}

.underneathContainer .textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutTitle {
  margin: 0 1em;
  font-size: 2em;
  font-weight: bold;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.underneathContainer .textContainer .paragraphContainer {
  font-size: 1.25em;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
  width: 100%; 
  max-width: 31em;
  word-wrap: break-word;
}

/*skills*/

.skillsContainer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  margin-bottom: 8em;
}

.skillsTitle {
  margin: 0 1em;
  font-size: 2em;
  font-weight: bold;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.skillsTitleContainer {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  width: 100%;
}

.iconContainer {
  margin-top: 4em;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.frontEndContainer, .otherCodingContainer, .miscContainer {
  display: flex;
  flex-direction: column;
  border: solid 1px #034566;
  background-color: #f2fbff;
  width: auto;
  height: 22em;
  border-radius: 0.6em;
  padding: 0.6em;
}

.iconContainer > div > div > div { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer .titleContainer2 {
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding: 0.3em;
}

.iconContainer > div > div > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.6em;
}

.iconContainer > div > div > div > div > img {
  height: auto;
  width: 100%;
  max-width: 3em;
  padding: 0.6em;
}

/*/////////////////////////featured projects part/////////////////////////*/

.featuredProjectsContainer {
  display: flex;
  flex-direction: column;
}

.featuredProjectsTitle {
  margin: 0 1em;
  font-size: 2em;
  font-weight: bold;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.featuredProjectsTitleContainer {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  width: 100%;
}

.projectsContainer {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectUnderneathContainer {
  border: solid 1px #034566;
  background-color: #f2fbff;
  border-radius: 0.6em;
  padding: 0.6em;
  margin: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 1.2em;
}

.projectButtonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2em;
  width: 65%;
}

.projectButtonContainer > div {
  padding: 0.3em;
}

.buttons {
  margin: 0.2em;
  color: white;
  background-color: #219EBC;
  border-radius: 1.5em;
  width: 11em;
  height: 3em;
  border: 1px solid #219EBC;
  font-size: 1.25em;
  opacity: 0.7;
}

.projectParagraph {
  font-size: 1.25em;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
  width: 100%; 
  max-width: 44em;
  word-wrap: break-word;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projectTitleContainer {
  font-size: 1.5em;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
  margin-bottom: 0.5em;
}

.projectImageContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projectImage, .projectImage1 {
  height: auto;
  width: 100%;
  max-width: 25em;
  padding: 1.5em;
}

.projectImagePhone, .projectImagePhone1 {
  height: 100%;
  width: auto;
  max-height: 22em;
  padding: 1.25em;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rightContainer > div {
  padding: 1.25em;
}

a.link {
  color: white;
  text-decoration: none;
}

/*contact*/

.contactSection {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactTitleSection {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  width: 100%;
}

.lineBefore {
  flex: 1 1;
  height: 0.15em;
  background: #191970;
  margin-left: 8em;
}

.lineAfter {
  flex: 1 1;
  height: 0.15em;
  background: #191970;
  margin-right: 8em;
}

.contactTitle {
  margin: 0 1em;
  font-size: 2em;
  font-weight: bold;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.underContactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.emailTitleSection {
  font-size: 1.25em;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.emailSection {
  font-size: 1.1em;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.orSection {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-size: 1.3em;
  color: #034566;
  font-family: Impact, Haettenschweiler, sans-serif;
}

.githubImage, .linkedinImage {
  height: auto;
  width: 100%;
  max-width: 3em;
  padding: 0.6em;
}

/*//phone screens//*/

@media screen and (max-width: 850px) {
  #root {
    text-decoration: none;
    }

  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal !important;
  }

  .firstViewContainer {
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .nameContainer {
    font-size: 2.5em;
  }

  .animationContainer {
    font-size: 1.5em;
    padding: 0.2em;
  }

  .animation {
    font-size: 1em;
  }

  /*about*/
  .aboutContainer {
    margin-bottom: 5vh;
    padding: 0;
    border: 0;
  }

  .aboutTitleContainer {
    margin-bottom: 0.5em;
  }

  .image1 {
    max-width: 10em;
    margin-top: 1.3em;
  }

  .aboutTitle {
    margin: 0 0.3em;
    font-size: 3vw;
  }

  .underneathContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .underneathContainer .textContainer .paragraphContainer {
    font-size: 1em;
    max-width: 35vh;
    text-align: center;
  }

  /*skills*/
  .skillsContainer {
    margin: 0;
    padding: 0;
    border: 0;
    }

  .skillsTitle {
    margin: 0 0.3em;
    font-size: 3vw;
  }

  .skillsTitleContainer {
    margin-bottom: 0.5em;
  }

  .iconContainer {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #034566;
    font-size: 1.5vw;
    padding: 0.1em;
    gap: 3vh;
  }

  .frontEndContainer, .otherCodingContainer, .miscContainer {
    height: auto;
    width: 60vw;
    border-radius: 0.2em;
    padding: 0.2em;
  }

  .iconContainer .titleContainer2 {
    /*font-weight: ?? */
    font-size: 3vw;
    padding: 0.1em;
  }

  .iconContainer > div > div > div > div {
    margin: 1vh 5vw;
  }

  .iconContainer > div > div > div > div > img {
    max-width: 9vw;
    padding: 0.5em;
  }

  /*featured projects*/
  .featuredProjectsContainer {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .featuredProjectsTitle {
    margin: 0 0.3em;
    font-size: 3vw;
  }

  .featuredProjectsTitleContainer {
    margin-bottom: 0.5em;
  }

  .projectsContainer {
    margin-top: 1.3em;
    gap: 3vh;
  }

  .projectUnderneathContainer {
    border-radius: 0.2em;
    padding: 0.2em;
    margin: 0.2em;
    gap: 0.4em;
    width: 80vw;
  }

  .projectButtonContainer {
    margin-bottom: 0.6em;
  }

  .projectButtonContainer > div {
    padding: 0.1em;
  }

  .buttons {
    margin: 0.06em;
    border-radius: 0.5em;
    width: 10em;
    height: 3em;
    font-size: 0.4em;
  }

  .projectParagraph {
    font-size: 2.5vw;
    max-width: 55vw;
  }

  .projectTitleContainer {
    font-size: 2vh;
    font-weight: 550;
    margin-bottom: 0.16em;
  }

  .projectImage1 {
    max-width: 15em;
    padding: 0.5em;
  }

  .projectImage {
    display: none;
  }

  .projectImagePhone1 {
    max-height: 15em;
    padding: 0.4em;
  }

  .projectImagePhone {
    display: none;
  }

  .rightContainer > div {
    padding: 0.4em;
  }

  /*contact*/
  .contactSection {
    height: 22vh;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .contactTitleSection {
    margin-bottom: 0.5em;
  }

  .lineBefore {
    height: 0.05em;
    margin-left: 2.6em;
  }

  .lineAfter {
    height: 0.05em;
    margin-right: 2.6em;
  }

  .contactTitle {
    margin: 0 0.3em;
    font-size: 3vw;
  }

  .underContactSection {
    gap: 0.3em;
  }

  .emailTitleSection {
    font-size: 1em;
  }

  .emailSection {
    font-size: 0.8em;
  }

  .orSection {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 0.8em;
  }

  .githubImage, .linkedinImage {
    max-width: 1em;
    padding: 0.2em;
  }
}